.form {
  width: 100%;
  background: var(--colorAzulOscuro13);
  padding: 30px;
  border-radius: 5px;
}

label {
  color: var(--colorBlanco);
}

h4 {
  padding-bottom: 20px;
}

.span i {
  display: inline-block;
  width: 50px;
  font-size: 27px;
  color: var(--colorCeleste);
}

.form__input input, .form__input textarea {
  width: 100%;
  padding: 7px 15px;
  color: var(--colorBlanco);
  margin-bottom: 15px;
  background: var(--colorAzulOscuro10);
  border: none;
  outline: none;
  border-radius: 10px;
  font-size: 0.8rem;
  border-bottom: 1px solid var(--colorCeleste);
}

.submit__btn {
  margin-top: 15px;
  padding: 7px 25px;
  font-size: 0.9rem;
  background: var(--colorCeleste);
  color: var(--colorBlanco);
  border: none;
  outline: none;
  border-radius: 5px;
}

@media only screen and (max-width: 992px) {
  .submit__btn {
    padding: 5px 25px;
    font-size: 0.8rem;
  }
}



@media (max-width: 668px) {
  .form {
    padding: 15px;
  }

  .form__input input,
  .form__input textarea {
    padding: 7px 10px;
    margin-bottom: 10px;
    font-size: 0.7rem; 
  }

  .submit__btn {
    padding: 5px 20px;
    font-size: 0.8rem;
  }

  h4 {
    font-size: 0.9rem;
    padding-bottom: 12px;
  }
  
  label {
    color: var(--colorBlanco);
  }
}