.form {
  width: 100%;
  background: var(--colorAzulOscuro13);
  padding: 30px;
  border-radius: 5px;
}

.form__input input, .form__input textarea {
  width: 100%;
  padding: 7px 15px;
  color: var(--colorBlanco);
  margin-bottom: 15px;
  background: var(--colorAzulOscuro10);
  border: none;
  outline: none;
  border-radius: 10px;
  font-size: 0.8rem;
}

.submit__btn {
  margin-top: 15px;
  padding: 7px 25px;
  font-size: 0.9rem;
  background: var(--colorCeleste);
  color: var(--colorBlanco);
  border: none;
  outline: none;
  border-radius: 5px;
}

@media only screen and (max-width: 992px) {
  .submit__btn {
    padding: 5px 25px;
    font-size: 0.8rem;
  }
}



@media (max-width: 668px) {
  .form {
    padding: 15px; /* Ajuste del relleno para pantallas más pequeñas */
  }

  .form__input input,
  .form__input textarea {
    padding: 7px 10px; /* Ajuste del relleno para campos de entrada en pantallas más pequeñas */
    margin-bottom: 10px; /* Espaciado inferior reducido */
    font-size: 0.7rem; /* Ajuste del tamaño de fuente */
  }

  .submit__btn {
    padding: 5px 20px; /* Ajuste del relleno para el botón en pantallas más pequeñas */
    font-size: 0.8rem; /* Ajuste del tamaño de fuente */
  }
}