.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logoJR {
  width: 45px;
  height: auto;
}

.header {
  width: 100%;
  height: 70px;
  line-height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 111111;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: between;
}

.nav__right {
  display: flex;
  align-items: center;
  gap: 4px;
}

.logo h5 {
  font-size: 1.3rem;
  color: var(--colorCeleste);
}

.nav__list {
  display: flex;
  align-items: center;
  column-gap: 2.7rem;
}

.nav__item a{
  color: #FFF;
  transition: 0.3s;
  text-decoration: none;
  font-weight: 400;
  cursor: pointer;
}

.nav__item a:hover {
  color: var(--colorCeleste);
}

.btn {
  background: var(--colorCeleste);
  color: #FFF;
  border: none;
  outline: none;
  border-radius: 5px;
  font-size: .9rem;
  padding: 7px 25px;
  line-height: 30px;
}

.btn:hover {
 color: #FFF;
}

.mobile__menu i {
  color: #FFF;
  font-size: 1.3rem;
  cursor: pointer;
}

.mobile__menu {
 display: none;
}

.header__shrink {
  background: var(--colorAzulOscuro13);
  box-shadow: 2px 2px 4px -2px #00acf0bb;
}

/* responsive */

@media only screen and (max-width: 992px) {
  .nav__menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 888888;
    display: none;
  }

  .nav__list {
    position: absolute;
    top: 0;
    right: 0;
    width: 250px;
    height: 100%;
    background: var(--colorAzulOscuro13);
    z-index: 999999;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
  }

  .menu__active {
    display: block;
  }

  .mobile__menu {
    display: block;
  }

  .btn {
    display: none;
  }

  .header {
    height: 50px;
    line-height: 50px;
  }
}



@media (max-width: 668px) {
  .header {
    height: 50px;
    line-height: 50px;
  }

  .navigation {
    justify-content: space-between;
  }

  .logoJR {
    width: 40px;
  }

  .logo h5 {
    font-size: 1.2rem; 
  }

  .nav__list {
    display: none;
    position: fixed;
    top: 0;
    height: 100%;
    background: var(--colorAzulOscuro13);
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    z-index: 999999;
  }

  .nav__item {
    margin-bottom: 10px;
  }

  .nav__item a {
    font-size: 1rem; 
  }

  .mobile__menu {
    display: block;
  }

  .btn {
    display: none;
  }

  .menu__active .nav__list {
    display: flex;
  }
}