.hero__btns {
  display: flex;
  align-items: center;
  gap: 4px;
}

.hire__btn {
  background: #FFF;
  color: var(--colorAzulOscuro);
}

.hire__btn a {
  text-decoration: none;
}

.hire__btn:hover a {
  color: var(--colorAzulOscuro);
}

.hero__title span {
  color: var(--colorCeleste);
}

.hero__title {
  font-weight: 600;
}

.hero__img{
 width: 400px;
 height: 400px;
 border-radius: 10px;
 background: var(--colorCeleste);
 margin-left: auto;
}

.hero__section {
  padding-top: 50px;
}


.btncito {
  background: var(--colorCeleste);
  color: #FFF;
  border: none;
  outline: none;
  border-radius: 5px;
  font-size: .9rem;
  padding: 7px 25px;
  line-height: 30px;
}

.btn:hover {
 color: #FFF;
}

.mp__4 {
  padding-top: 30px;
}

.hero__content p {
  line-height: 30px;
  font-weight: 300;
}

/* responsive */

@media only screen and (max-width: 992px) {
  .hero__img {
    width: 300px;
    height: 300px;
  }

  .hero__content p {
    font-size: 0.8rem;
  }

  .hero__btns button {
    display: block;
    padding: 5px 20px;
  }
}

@media (max-width: 668px) {


  .hero__img {
    width: 200px;
    height: 200px;
    margin-top: 30px;
  }

  .hero__content p {
    margin-bottom: 30px;
    font-size: 0.9rem;
  }

  .hero__title {
    font-size: 1.2rem;
  }
  
  .hero__btns button {
    width: 100%;
    display: block;
    padding: 5px 20px;
  }
}