.service__container {
  display: flex;
}

.service__top {
  position: relative;
}

.single__service {
  background: var(--colorAzulOscuro13);
  padding: 20px;
  border-radius: 5px;
  cursor: pointer;
  border-bottom: 1px solid var(--colorCeleste);
  transition: 0.3s;
}

.single__service h2 {
  font-size: 1.4rem;
  margin-bottom: 15px;
}

.single__service p {
  font-weight: 300;
  line-height: 30px;
}

.single__service:hover {
  transform: translateY(-15px);
}

.service__icon {
  color: var(--colorCeleste);
  font-size: 2.2rem;
}

.service__top {
  color: var(--colorCeleste);
  margin-bottom: 15px;
  margin-top: 15px;
}

@media only screen and (max-width: 992px) {
  .single__service h2 {
    font-size: 1.3rem;
    margin-bottom: 10px;
  }

  .single__service p {
    font-size: 0.7rem;
    line-height: 28px;
  }
}



@media (max-width: 668px) {
  .service__container {
    width: 32%;
    display: block;
  }

  .single__service {
    width: 100%;
    margin-bottom: 20px;
  }

  .single__service h2 {
    width: 100%;
    font-size: 1.3rem;
    margin-bottom: 10px;
  }

  .single__service p {
    font-size: 0.7rem;
    line-height: 28px;
  }

  /* Invalidar la disposición de Flexbox de Bootstrap solo para el caso específico */
  .row.flex-row {
    display: block !important;
  }

  /* Cambiar la disposición de la rejilla a columnas en lugar de filas */
  .row.flex-column {
    flex-direction: column !important;
  }

  .flexColumn {
    flex-direction: column !important;
  }
}