.w75 {
  width: 100%;
}

.w25 {
  width: 25%;
}

.about__content__wrapper {
  display: flex;
  gap: 5px;
  background: var(--colorAzulOscuro13);
  padding: 20px;
  border-radius: 10px;
}

.about__btns {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--colorAzulOscuro10);
  border-radius: 10px;
}

.about__btn {
  border: none;
  outline: none;
  width: 100%;
  padding: 33px;
  color: #FFF;
  background: transparent;
  border-bottom: 1px solid var(--colorCeleste);
  border-radius: 5px 5px 0px 0px;
}

.about__btn_active {
  background: var(--colorCeleste);
}

.about__btn:last-child {
  border-bottom: 0;
  border-radius: 0px 0px 5px 5px;
}

.about__content h2 {
  margin-bottom: 15px;
}

.about__content {
  line-height: 30px;
  font-weight: 300;
}

.about__padding_text {
  margin: 13px 0px 13px 0px;
}

.social__links span a i {
  color: var(--colorCeleste);
}

.social__links span {
  margin-top: 10px;
  margin-right: 15px;
}

.about__img {
  display: flex;
  height: 192px;
  border-radius: 10px;
}

@media only screen and (max-width: 992px) {
  .about__btn {
    padding: 10px 25px;
    font-size: 0.8rem;
  }

  .about__btns {
    margin-bottom: 40px;
  }

  .about__content h2 {
    font-size: 1.5rem;
  }

  .about__content p {
    font-size: 0.8rem;
  }

  .about__img {
    height: 102px;
  }
}



@media (max-width: 668px) {


  .about__content__wrapper {
    padding: 0px;
  }
  .w75,
  .w25 {
    width: 100%; /* Ajuste para ocupar todo el ancho en pantallas más pequeñas */
  }

  .about__btn {
    padding: 10px 25px;
    font-size: 0.8rem;
  }

  .about__btns {
    margin-bottom: 40px;
  }

  .about__content h2 {
    font-size: 1.5rem;
  }

  .about__content p {
    font-size: 0.8rem;
  }

  .about__img {
    height: 102px;
  }
}