
.educationContainer {
  overflow-x: auto;
}
.table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid var(--colorAzulOscuro13);
  border-radius: 5px;
}


.container {
  border-radius: 5px 0px 0px 5px;
  padding: 10px;
}

.container2 {
  border-radius: 0px 5px 5px 0px;
  padding: 10px;
}

th, td {
  padding: 1rem;
  font-size: 1rem;
}

thead {
  background: var(--colorCeleste);
  color: var(--colorBlanco);
}

td {
  font-size: 1rem;
  color: var(--colorBlanco);
  font-weight: 550;
  padding: 20px 0;
}

tr:nth-child(even) {
  background: var(--colorAzulOscuro10);
}

@media (max-width: 668px) {
  th, td {
    font-size: 0.8rem;
    padding: 0.5rem;
  }
}