.skills__wrapper {
  display: flex;
  width: 100%;
  gap: 5px;
  background: var(--colorAzulOscuro13);
  padding: 10px;
  border-radius: 10px;
}

.frontend__skills {
  width: 50%;
  padding-right: 15px;
}

.backend__skills {
  width: 50%;
  padding-left: 15px;
}

.skill__bar {
  height: 5px;
  width: 100%;
  position: relative;
  background: var(--colorGrisClaro);
  border-radius: 50px;
  z-index: 999;
}

.skill__bar_percentage {
  background: var(--colorCeleste);
  width: 50%;
  height: 5px;
  position: absolute;
  z-index: 1000;
  top: 0;
  left: 0;
  border-radius: 50px;
}

.skill__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.skill__title span {
  color: var(--colorBlanco);
}

.skill__data {
  margin-bottom: 3px;
}

.skill__title img {
  width: 31px;
}

@media (max-width: 668px) {
  .skills__wrapper {
    flex-direction: column;
    align-items: center;
    padding: 15px;
  }

  .frontend__skills,
  .backend__skills {
    width: 100%;
    margin-bottom: 10px; 
    padding-right: 0px;
    padding-left: 0px;
  }

  .skill__bar_percentage {
    width: 100%; 
  }

  .skill__title {
    flex-direction: column; 
    text-align: center;
  }

  .skill__title h6,
  .skill__title span {
    font-size: 1.1rem;
  }
}