.portfolio__top {
  color: var(--colorCeleste);
  margin-bottom: 15px;
}

.portfolio__card {
  position: relative;
  z-index: 90;
  cursor: pointer;
}


.portfolio__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(var(--colorCeleste), var(--colorCeleste));
  z-index: 91;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transform: translateY(40%);
  opacity: 0;
  transition: 0.3s;
  border-radius: 6px;
  cursor: pointer;
}

.portfolio__card:hover .portfolio__content {
  transform: translateY(0);
  opacity: 1;
}

.portfolio__content a {
  color: var(--colorBlanco);
  text-decoration: none;
  font-size: 0.9rem;
  cursor: pointer;
}

.portfolio__content h5 {
  color: var(--colorBlanco);
  font-size: 1.5rem;
  margin-bottom: 10px;
  font-weight: 500;
}

.portfolio__img img {
  width: 100%;
  height: 240px;
  border-radius: 6px;
}




@media (max-width: 668px) {
  .portfolio__top {
    margin-bottom: 10px;
  }

  .portfolio__card {
    margin-bottom: 15px;
  }

  .portfolio__content h5 {
    font-size: 1.2rem;
    margin-bottom: 5px;
  }

  .portfolio__content a {
    font-size: 0.8rem;
  }

  .portfolio__img img {
    width: 100%;
    border-radius: 6px;
  }
}