.footer {
  text-align: center;
  border-top: 1px solid #00acf091;
  padding-top: 20px;
}

.footer p {
  font-weight: 300;
  font-size: 0.9rem;
}

/* footer template */

.container2 {
  justify-content: space-between;
  margin: 0 9vw;
  padding: 2vw 0;
  color: var(--colorBlanco);
  font-family: 'Inter', sans-serif;
  font-size: 12px;
  line-height: 17px;
}
.logo_JR {
  width: 45px;
  height: auto;
}


@media (max-width: 668px) {
  
  .footer p {
    width: 60%;
    margin: 0 5vw;
    margin-left: 9vw;
  }

  .container2{
    width: 25%;
  }

  .containerList {
    width: 38%;
  }

  .logo_JR {
    margin-bottom: 14px;
  }
}