.single__experience_container {
  padding: 30px;
  background: var(--colorAzulOscuro13);
  border-radius: 10px;
  margin-bottom: 15px;
  margin-top: 15px;
}

.single__experience {
  position: relative;
  padding: 10px 30px;
  z-index: 79;
}

.single__experience h6 {
  font-size: 0.8rem;
  opacity: 75%;
  font-weight: 300;
}

.single__experience h5 {
  font-size: 1.1rem;
  margin-bottom: 15px;
}
.single__experience p {
  font-weight: 300;
  line-height: 30px;
  font-size: 0.9rem;
}

.single__experience::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 100%;
  content: "";
  background: var(--colorCeleste);
  color: var(--colorCeleste);
  z-index: 80;
}

.experience_icon {
  position: absolute;
  top: 5px;
  left: -10px;
  color: var(--colorCeleste);
  font-size: 1.2rem;
  z-index: 80;
}

.divcontainer {
  display: flex;
  gap: 5px;
  justify-content: space-between;
}

.custom_col {
  min-height: 100%;
}

@media only screen and (max-width: 992px) {
  .single__experience h6 {
    font-size: 0.7rem;
  }

  .single__experience h5 {
    font-size: 0.9rem;
    margin-bottom: 10px;
  }

  .single__experience p {
    font-size: 0.7rem;
    line-height: 28px;
  }

  .single__experience_container {
    margin-bottom: 40px;
  }
}

@media (max-width: 668px) {
  .single__experience_container {
    width: 32%;
    padding: 20px; 
    margin-bottom: 10px; 
    margin-top: 10px; 
  }

  .single__experience {
    padding: 10px 20px;
  }

  .single__experience h6 {
    font-size: 0.7rem; 
  }

  .single__experience h5 {
    font-size: 0.9rem;
    margin-bottom: 10px;
  }

  .single__experience p {
    font-size: 0.7rem; 
    line-height: 25px;
  }

  .single__experience_container::before {
    display: none; 
  }

  .divcontainer {
    flex-direction: column; 
    gap: 10px;
  }

  .custom_col {
    min-height: auto; 
  }
}